<h4>List of your friend requests</h4>
<div>
    <table class="table table-bordered table-hover"  *ngIf="requestList">
        <thead>
        <tr>
            <th>Username</th>
            <th>Firstname</th>
            <th>Photo</th>
            <th>Add to friends</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let friends of requestList">
            <td>{{friends.user1.username}}</td>
            <td>{{friends.user1.firstname}}</td>
            <td>{{friends.user1.photo}}</td>
            <td>
                <button class="btn btn-info" (click)="onSubmit(user.id)">Add</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>