<div class="row">
    <div class="col-md-4" *ngIf="profileUser">
        <h3>This is page about {{profileUser.username}}</h3>
        <div>{{profileUser.photo}}</div>
        <div>{{profileUser.username}}</div>
        <div class="list-group">
            <ul>
                <li class="list-group-item"><a routerLink="update-profile" routerLinkActive="active">About</a></li>
                <li class="list-group-item">News</li>
                <li class="list-group-item">Friends</li>
            </ul>
        </div>

    </div>
    <div class="col-md-8 content">
        <router-outlet>

        </router-outlet>
    </div>
</div>